<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Registering the MyService bean -->
    <bean id="work" class="frenchBeans.SpringBeans_withXML.Work"/>
    <bean id ="lib" class = "frenchBeans.SpringBeans_withXML.Lib"/>
</beans>